<Files "admin.php">
AuthType Basic
AuthName "Restricted Area"
AuthBasicProvider dbd
Require valid-user
</Files>

# Rewrite
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]
RewriteRule ^admin$ admin.php [L]
